p {
    text-align: left;
    padding: 30px;
    margin-right: 50px;
    max-width: 100%;
    
}

img {
    height: auto;
    width: 25%;
    display: flex;
    float: left;
    margin: 50px;
    padding: 25 px;
}

