.contact {
    width: 50px;
}

.text {
    font-size: 22px;
    text-align: center;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input,
textarea {
    border-radius: 5px;
    background-color: #FFCDB2;
}

button {
  margin-top: 5px;
  padding: 2px;
  background-color: #FFCDB2;
  color: #6D6875(105, 7, 166);
  border: solid #E5989B(105, 7, 166);
}
/* button:hover {
  background-color: rgb(105, 7, 166);
  color: pink;
  border: solid pink;
} */ 