.carousel-button {
    margin: 20px
    }
    
    #caption-box {
      background-color: white;
      border-radius: 7px;
      border: 1px solid rgba(128, 128, 128, 0.336);
      box-shadow: 2px 8px 10px gray;
    }

    #carousel-img {
      width: 25%;
      height: 100%;
      border-radius: 7px;
    }

    .slider {
      width: 75%;
      height: 75%;
      display: flex;
      flex-wrap: wrap;
      /* justify-content: center; */
      /* align-items: center; */
    }

    /* .slides {
      display: flex; 
      overflow-x: auto 
    } */